body {
    background-image: url('../images/dust.png');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #777777;
}

.header {
    overflow: hidden;
    background-color: white;
    border-bottom: 2px solid #cccccc;
    margin-top: 0;
    padding-left: 25%;
    padding-right: 25%;
    font-family: Georgia, serif;

}

.header a{
    float: left;
    color: #777777;
    text-decoration: none;
    padding: 12px;
}

.header a.Name{
    font-size: 25px;
    border-style: solid;
    background-color: #4aaaa5;
    color: white;
    padding: 35px 35px;
    margin: -3px;
}

.header-right{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
    float: right;
}

a:hover {
    background-color: #cccccc;
}

h2 {
    color: #4aaaa5;
    margin: 30px 25px;
    padding-bottom: 25px;
    border-bottom: 3px solid #dddddd;
}

.container {
    background-color: white;
    width: 960px;
    margin: 30px 25%;
    padding-bottom: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

.box {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 15px;
    padding-right: 15px;

}

img {
    float: left;
    padding: 0px 20px 0px 25px;
}

.clearfix {
    overflow: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 200%;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: -5px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 35px 0px 3px 0px;
    border-top: 7px solid #4aaaa5;
    font-size: 12px;
}

#footer1 {
    position: relative;
    bottom: 0;
}

input[type=text], select, textarea {
    width: 900px;
    height: 28px;
    margin: 8px 25px 15px 25px;
    padding-left: 10px;
    font-size: 12px;

}

label {
    margin-left: 25px;
}

#message {
    padding: 10px 10px;
}

.column {
    float: left;
    padding-bottom: 30px;
}

.row:after {
    content: "";
    clear: both;
}

.button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 12px 32px;
    font-size: 18px;
    margin: 15px 25px;
    cursor: pointer;
}